<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    
    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css" />
    <script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
</head>
<body>
    <div class="container">
        <h1>List Users</h1>
        <label for="">Id</label>
        <input id="idFilter" type="text" class="form-control" onkeyup="getFindByIdUser()">
        <button class="btn btn-success" onclick="getAllUsers()">Consult</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">Add User</button>
        <!-- <p id="Result"></p> -->
        <table class="table" id="table-users">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Age</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody id="container">

            </tbody>
        </table>
    </div>

    <!-- Ventana para agregar producto -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleAddLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleAddLabel">New User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">FirstName:</label>
                        <input type="text" class="form-control" id="firstNameId">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">LastName:</label>
                        <input type="text" class="form-control" id="lastNameId">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">age:</label>
                        <input type="number" class="form-control" id="ageId">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="getAddUser(event)">Add</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana para actualizar producto -->
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleUpdateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleUpdateLabel">Update User</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">FirstName:</label>
                        <input type="text" class="form-control" id="firstNameUpdate">
                    </div>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">LastName:</label>
                        <input type="text" class="form-control" id="lastNameUpdate">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Age:</label>
                        <input type="number" class="form-control" id="ageUpdate">
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="getUpdateUser(event)">Update</button>
                    <p id="updateUserBtn"></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar un producto -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Desea eliminar el usuario?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="getDeleteUser(event)">Delete</button>
                <p id="deleteUserBtn"></p>
            </div>
            </div>
        </div>
    </div>

    <script src="/js/const.js"></script>
    <script src="/js/api.js"></script>
    <script src="/js/users/users.js"></script>
    <script src="/js/table.js"></script>
</body>
</html>